* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin-bottom: 3rem;
  font-family: 'Arimo', sans-serif;
  background: linear-gradient(to top left, #2a77aa, rgba(255, 153, 150, 0), #984c60), linear-gradient(to top right, #64a3bf, rgba(255, 153, 150, 0), #bf98c8) #dca2a5;
  background-attachment: fixed;
}

.header {
  width: 70rem;
  margin: 0 auto;
  padding: 2rem 0;
  margin-top: 2rem;
}

.header-title {
  font-size: 3.2rem;
  color: #fff0ff;
  font-weight: 700;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 70rem;
  margin: 0 auto;
}

.radio {
  width: 0;
  height: 0;
  appearance: none;
}

.meme-container {
  border-top: 0.1rem solid #fff0ff;
}

.meme-heading {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 700;
  color: #fff0ff;
  margin-bottom: 2rem;
  transition: all 0.7s ease;
}

.meme-icon {
  width: 2rem;
  height: 2rem;
  background: url(../cssBayan/assets/img/plus-purple.png) 100% 100% no-repeat;
  background-size: cover;
  display: none;
  transition: all 0.5s;
}

.img-1 {
  height: 47.5rem;
  background: url(../cssBayan/assets/img/meme1.png) 100% 100% no-repeat;
}

.img-2 {
  height: 29.9rem;
  background: url(../cssBayan/assets/img/meme2.png) 100% 100% no-repeat;
}

.img-3 {
  height: 48.9rem;
  background: url(../cssBayan/assets/img/meme3.png) 100% 100% no-repeat;
}

.img-4 {
  height: 26.6rem;
  background: url(../cssBayan/assets/img/meme4.png) 100% 100% no-repeat;
}

.img-5 {
  height: 52.8rem;
  background: url(../cssBayan/assets/img/meme5.png) 100% 100% no-repeat;
}

.img-6 {
  height: 27rem;
  background: url(../cssBayan/assets/img/meme6.png) 100% 100% no-repeat;
}

.img-7 {
  height: 46.2rem;
  background: url(../cssBayan/assets/img/meme7.png) 100% 100% no-repeat;
}

.meme-img {
  display: block;
  width: 40rem;
  overflow: hidden;
  margin: 0 auto;
  background-size: cover;
  border-radius: 0.7rem;
  box-shadow: 0 0.2rem 1.5rem 0 #d8cbd8;
  margin-top: 2rem;
  transition: all 1.5s ease;
  max-height: 0;
}
